<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ .Site.Title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
<link rel="icon" href="{{ "favicon.ico" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon.png" | relURL }}">
{{ block "head" . }}{{ end }}
</head>
<body>
<main>
{{ block "main" . }}{{ end }}
</main>
<script data-goatcounter="https://lichengping.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>
</html>
